{% extends 'base.html.twig' %}
{% block stylesheets %}
 {{ parent() }}
    <link rel="stylesheet" href="/css/externe/style.css">
{% endblock %}
{% block body %}
    <div class="separator" style="margin-top: 100px;"></div>
    <div class="w3-container">
        <div class="w3-bar w3-grey">
            <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Etudiant')">Etudiant</button>
            <button class="w3-bar-item w3-button tablink  w3-red" onclick="openCity(event,'Niveau')">Niveau</button>
            <button class="w3-bar-item w3-button tablink">Formations</button>
            <button class="w3-bar-item w3-button tablink">Horaires</button>
            <button class="w3-bar-item w3-button tablink">Récapitulatif</button>
        </div>

        <div id="Niveau" class="w3-container w3-border city">
            <form id="form-level" class="w3-margin-top" method="post" action="{{ path('inscription_level') }}">
                <div class="cc-selector-2">
                    {% for level in levels %}
                    <input class="w3-radio" id="{{ level.label }}" type="radio" name="level" value="{{ level.id }}" required/>
                    <label class="drinkcard-cc" for="{{ level.label }}">
                        <img src="https://via.placeholder.com/250x150/00b300/404040?text={{ level.id }}" alt="">
                    </label>
                    {% endfor %}
                </div>
            </form>
            <div class="w3-bar w3-margin-bottom">
                <a href="javascript:history.go(-1)"><button class="w3-button w3-left w3-light-grey">&laquo; Précédent</button></a>
                <button id="enregistrer" type="submit" class="w3-button w3-right w3-green">Suivant &raquo;</button>
            </div>
        </div>

        <div id="Tokyo" class="w3-container w3-border city" style="display:none">
            <h2>Tokyo</h2>
            <p>Tokyo is the capital of Japan.</p>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(function(){
            {#$("#back").click(function (ev) {#}
            {#    ev.preventDefault();#}
            {#    window.location.href = "{{ path('users_profile') }}";#}
            {#})#}
            $("#enregistrer").click(function () {
                $("#form-level").submit();
            });
        });
    </script>
{% endblock %}