{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/externe/style.css">
{% endblock %}
{% block body %}
    <div class="separator" style="margin-top: 100px;"></div>
    <div class="w3-container">
        <div class="w3-bar w3-grey">
            <button class="w3-bar-item w3-button tablink">Etudiant</button>
            <button class="w3-bar-item w3-button tablink ">Niveau</button>
            <button class="w3-bar-item w3-button tablink w3-red">Formations</button>
            <button class="w3-bar-item w3-button tablink">Horaires</button>
            <button class="w3-bar-item w3-button tablink">Récapitulatif</button>
        </div>
        <div id="Formation" class="w3-container w3-border city" >
            <form id="form-training" class="w3-container w3-margin-top" method="post" action="{{ path('inscription_level_training') }}">
                <div class="cc-selector-2">
                    {% for training in trainings %}
                        <input class="w3-check"  id="{{ training.label }}" type="checkbox" name="{{ training.id }}" value="{{ training.id }}" required />
                        <label class="drinkcard-cc" for="{{ training.label }}">
                            <img  class="w3-card"  src="https://via.placeholder.com/250x150/00b300/404040?text={{ training.label|upper }}" alt="">
                        </label>
                    {% endfor %}
                </div>
            </form>
            <div class="w3-bar w3-margin-top w3-margin-bottom">
                <a href="javascript:history.go(-1)"><button class="w3-button w3-left w3-light-grey">&laquo; Précédent</button></a>
                <button id="enregistrer" type="submit" class="w3-button w3-right w3-green">Suivant &raquo;</button>
            </div>
        </div>

        <div id="Horaire" class="w3-container w3-border city" >

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(function(){
            {#$("#back").click(function (ev) {#}
            {#    ev.preventDefault();#}
            {#    window.location.href = "{{ path('users_profile') }}";#}
            {#})#}
            $("#enregistrer").click(function () {
                $("#form-training").submit();
            });
        });
    </script>
{% endblock %}