{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <style>
        #calendrier {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="separator" style="margin-top: 100px;"></div>

    <div class="w3-container">
{#        {{ dump(datas) }}#}
        <div class="w3-bar w3-grey">
            <button class="w3-bar-item w3-button tablink">Etudiant</button>
            <button class="w3-bar-item w3-button tablink">Niveau</button>
            <button class="w3-bar-item w3-button tablink">Formations</button>
            <button class="w3-bar-item w3-button tablink">Horaires</button>
            <button class="w3-bar-item w3-button tablink  w3-red">Récapitulatif</button>
        </div>

        <div id="Récapitulatif" class="w3-container w3-border city">
            <fieldset class="w3-border w3-margin-top w3-margin-bottom" style="padding-top:10px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px">
                <legend class="w3-border w3-green w3-padding-small" style="width: 10%">Etudiant</legend>
                <div class="row">
                    <div class="col">
                        <input class="form-control form-control-sm" type="text" value="{{ datas['user'].firstname  }}" disabled>
                        <input class="form-control form-control-sm" type="text" value="{{ datas['user'].email  }}" disabled>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-sm" type="text" value="{{ datas['user'].lastname  }}" disabled>
                        <input class="form-control form-control-sm" type="text" value="{{ datas['user'].phoneMobile  }}" disabled>
                    </div>
                </div>
            </fieldset>

{#            <fieldset class="w3-border w3-margin-top w3-margin-bottom" style="padding-top:10px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px">#}
{#                <legend class="w3-border w3-green w3-grey">Niveau</legend>#}
{#                {% for level in datas['level'] %}#}
{#                <input class="form-control form-control-sm" type="text" value="{{ level['level']  }}" disabled>#}
{#                {% endfor %}#}
{#            </fieldset>#}

            <fieldset class="w3-border w3-margin-top w3-margin-bottom" style="padding-top:10px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px">
                <legend class="w3-border w3-green w3-green w3-padding-small" style="width: 10%">Formation</legend>
                <div class="row">
                    {% if datas['trainings'] is defined  %}
                        {% for key, trainings in datas['trainings'] %}
                            {% if key == 'DEBUTANT' %}
                                <div class="col">
                                    <h2>DEBUTANT</h2>
                                    {% for training in trainings %}
                                         <input class="form-control form-control-sm" type="text" value="{{ training }}" disabled>
                                    {% endfor %}
                                </div>
                            {% elseif key =='AVANCE' %}
                            <div class="col">
                                <h2>AVANCE</h2>
                                {% for training in trainings %}
                                    <input class="form-control form-control-sm" type="text" value="{{ training }}" disabled>
                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="col">
                                    <h2>EXPERT</h2>
                                    {% for training in trainings %}
                                        <input class="form-control form-control-sm" type="text" value="{{ training }}" disabled>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Pas de données</p>
                    {% endif %}

                </div>
            </fieldset>

            <fieldset class="w3-border w3-margin-top w3-margin-bottom" style="padding-top:10px; padding-left: 30px; padding-right: 30px; padding-bottom: 20px">
                <legend class="w3-border w3-green w3-padding-small" style="width: 10%">Planning</legend>
                <div class="row">
{#                    {{ dump(datas['planning']) }}#}
                    {% for plan in datas['planning'] %}
                        <div class="col">
                            <h4>{{ plan['level'] }}<span class="w3-badge">{{ plan['diff'] }}</span></h4>
                            <div id="calendrier"></div>
                           <input class="form-control form-control-sm" type="text" value="{{ plan['start'] | date('d/m/Y h:i:s') }}" disabled>
                            <input class="form-control form-control-sm" type="text" value="{{ plan['end'] | date('d/m/Y h:i:s')  }}" disabled>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="w3-bar w3-margin-bottom">
                <a href="javascript:history.go(-1)"><button class="w3-button w3-left w3-light-grey">&laquo; Précédent</button></a>
                <button class="w3-button w3-right w3-green">Imprimer &raquo;</button>
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@5.5.0/main.global.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{#<script>#}
{#    window.onload = () => {#}
{#        const calendarElt = document.querySelector("#calendrier");#}
{#        const calendar = new FullCalendar.Calendar(calendarElt, {#}
{#            initialView: 'timeGridWeek',#}
{#            locale: 'fr',#}
{#            allDay: false,#}
{#            headerToolbar: {#}
{#                start: 'prev,next today',#}
{#                center: 'title',#}
{#                end: 'dayGridMonth, timeGridWeek, list'#}
{#            },#}
{#            selectable: true,#}
{#            editable: true,#}

{#            buttonText: {#}
{#                today: 'Aujourd\'hui',#}
{#                month: 'Mois',#}
{#                week: 'Semaine',#}
{#                list: 'Liste'#}
{#            },#}

{#            timeZone: 'Europe/Paris',#}
{#           events: {{ hours|raw }},#}
{#            nowIndicator: true,#}
{#            eventResizableFromStart: true#}
{#        })#}
{#        calendar.render();#}
{#    }#}
{#</script>#}
{% endblock %}
